<html>
<head></head>


<body>

{{> menu}}

<h1>Add Users</h1>

<form action='/users/add-user' method=POST>

<input type="type" name='Name'/>
<input type="type" name='Age'/>
<button type="submit">Add User</button>

</form>

</body>



</html>