<html>
<head>

<link rel="stylesheet" href="/css/site.css"></link>

</head>

<body>

{{> menu}}

<h1>Hello Mustchace!</h1>

The users name is {{name}} and the user lives at {{address.street}}, {{address.city}}, {{address.state}}




</body>


</html>