<html>

<head></head>

<body>

{{> menu}}

<h1>This is a users Page</h1>

<ul>

{{#users}}

<li>

{{name}} - {{age}}

</li>

{{^users}}

<h1>No users exist...</h1>

{{/users}}

{{/users}}
</ul>
</body>









</html>